## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.89,-109.91,86.00,58,90,9.17,overcast clouds
1,1,Kodiak,US,57.79,-152.41,60.80,72,1,6.93,clear sky
2,2,Puerto Ayora,EC,-0.74,-90.35,66.99,94,89,4.00,overcast clouds
3,3,Belmonte,BR,-15.86,-38.88,75.20,78,40,10.29,scattered clouds
4,4,Cururupu,BR,-1.83,-44.87,75.42,84,0,4.85,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 1
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.89,-109.91,86.00,58,90,9.17,overcast clouds
1,1,Kodiak,US,57.79,-152.41,60.80,72,1,6.93,clear sky
2,2,Puerto Ayora,EC,-0.74,-90.35,66.99,94,89,4.00,overcast clouds
3,3,Belmonte,BR,-15.86,-38.88,75.20,78,40,10.29,scattered clouds
4,4,Cururupu,BR,-1.83,-44.87,75.42,84,0,4.85,clear sky
5,5,Barrow,US,71.29,-156.79,57.20,71,1,9.17,clear sky
6,6,Yellowknife,CA,62.46,-114.35,64.40,72,75,8.05,broken clouds
7,7,Yarada,IN,17.65,83.27,80.60,94,90,9.17,drizzle
8,8,Nanortalik,GL,60.14,-45.24,47.98,67,0,5.08,clear sky
9,9,Padang,ID,-0.95,100.35,81.50,69,18,3.04,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
# preferred_cities_df.count()

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cleaned_preferred_cities_df = preferred_cities_df.dropna(axis = 0)
cleaned_preferred_cities_df.count()

Unnamed: 0             685
City                   685
Country                685
Lat                    685
Lng                    685
Max Temp               685
Humidity               685
Cloudiness             685
Wind Speed             685
Current Description    685
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cleaned_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,86.00,overcast clouds,22.89,-109.91,
1,Kodiak,US,60.80,clear sky,57.79,-152.41,
2,Puerto Ayora,EC,66.99,overcast clouds,-0.74,-90.35,
3,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,
4,Cururupu,BR,75.42,clear sky,-1.83,-44.87,
5,Barrow,US,57.20,clear sky,71.29,-156.79,
6,Yellowknife,CA,64.40,broken clouds,62.46,-114.35,
7,Yarada,IN,80.60,drizzle,17.65,83.27,
8,Nanortalik,GL,47.98,clear sky,60.14,-45.24,
9,Padang,ID,81.50,few clouds,-0.95,100.35,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
  
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url  = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
       hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(50)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,86.00,overcast clouds,22.89,-109.91,Hotel Tesoro Los Cabos
1,Kodiak,US,60.80,clear sky,57.79,-152.41,Best Western Kodiak Inn and Convention Center
2,Puerto Ayora,EC,66.99,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
4,Cururupu,BR,75.42,clear sky,-1.83,-44.87,Pousada Través'cia
5,Barrow,US,57.20,clear sky,71.29,-156.79,King Eider Inn
6,Yellowknife,CA,64.40,broken clouds,62.46,-114.35,The Explorer Hotel
7,Yarada,IN,80.60,drizzle,17.65,83.27,"D-26/2, Dolphin Hill,"
8,Nanortalik,GL,47.98,clear sky,60.14,-45.24,"NTS Rooms, Nanortalik"
9,Padang,ID,81.50,few clouds,-0.95,100.35,Mercure Padang
10,Barcelos,PT,68.00,broken clouds,41.54,-8.62,Hotel Do Terço
11,Vaini,TO,73.40,overcast clouds,-21.20,-175.20,Keleti Beach Resort
12,Jamestown,US,66.00,clear sky,42.10,-79.24,Hampton Inn & Suites Jamestown
13,Ushuaia,AR,32.00,scattered clouds,-54.80,-68.30,Albatros Hotel
14,Chuy,UY,51.69,clear sky,-33.70,-53.46,Nuevo Hotel Plaza
15,Arlit,NE,93.00,broken clouds,18.74,7.39,Hôtel Telwa Bungalow
16,Cherskiy,RU,44.85,overcast clouds,68.75,161.30,Gostinitsa
18,Mayo,US,78.80,light rain,38.89,-76.51,Resorts Resource Group International
19,Kosonsoy,UZ,66.20,clear sky,41.26,71.55,"Гостиница ""Goldstar'"
20,Souillac,MU,71.60,scattered clouds,-20.52,57.52,Bils' Villa
21,Hasaki,JP,87.01,broken clouds,35.73,140.83,Inubosaki Kanko Hotel
22,Karachi,PK,86.00,broken clouds,24.91,67.08,Hillside Homes
23,Puerto Leguizamo,CO,80.83,broken clouds,-0.19,-74.78,la casona de juancho
24,General Roca,AR,44.60,clear sky,-39.03,-67.58,Hotel El Recreo
25,Nhulunbuy,AU,80.60,few clouds,-12.23,136.77,East Arnhem Real Estate
26,Tiksi,RU,39.96,overcast clouds,71.69,128.87,Arktika
27,Talnakh,RU,62.60,clear sky,69.49,88.40,Talnakh Hotel
28,Lasa,IT,48.20,overcast clouds,46.62,10.70,Pension Feldgärtenhof
29,Georgetown,MY,80.60,few clouds,5.41,100.34,Cititel Penang
30,Adelaide,AU,55.99,broken clouds,-34.93,138.60,The Chancellor on Currie
31,Sangar,RU,64.99,scattered clouds,63.92,127.47,
32,Dordrecht,NL,64.99,clear sky,51.81,4.67,Bastion Hotel Dordrecht - Papendrecht
33,Dunedin,NZ,55.00,overcast clouds,-45.87,170.50,Scenic Hotel Southern Cross
34,Mataura,NZ,55.09,overcast clouds,-46.19,168.86,Ellie's Villa
35,Punta Arenas,CL,33.80,broken clouds,-53.15,-70.92,Hotel Dreams Del Estrecho
36,Albany,US,71.01,clear sky,42.60,-73.97,
37,Kavieng,PG,84.45,scattered clouds,-2.57,150.80,Nusa Island Retreat
38,Mahebourg,MU,71.60,scattered clouds,-20.41,57.70,Le Peninsula Bay Beach Resort & Spa
39,Arraial Do Cabo,BR,73.40,clear sky,-22.97,-42.03,Pousada Porto Praia
40,Sungaipenuh,ID,70.90,overcast clouds,-2.08,101.38,Hotel Jaya Wisata 2
41,Vila Velha,BR,73.40,clear sky,-20.33,-40.29,Hotel Vitória Palace
42,Sorland,NO,52.25,overcast clouds,67.67,12.69,Sjybrygga fiskecamp
43,Mar Del Plata,AR,43.00,overcast clouds,-38.00,-57.56,Gran Hotel Mar del Plata habitaciones
45,Busselton,AU,50.00,scattered clouds,-33.65,115.33,Observatory Guest House
46,Bluff,NZ,51.33,broken clouds,-46.60,168.33,Bluff Homestead - Guesthouse & Campervan Park
47,Kirakira,SB,85.12,overcast clouds,-10.45,161.92,SanBiz Lodge
48,Hamilton,US,69.01,light rain,39.18,-84.53,Six Acres Bed & Breakfast
50,Lewiston,US,69.80,overcast clouds,44.10,-70.21,Hilton Garden Inn Auburn Riverwatch
51,Cape Town,ZA,50.00,broken clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
52,Pulaski,US,87.80,broken clouds,34.77,-92.30,DoubleTree by Hilton Hotel Little Rock

In [10]:
hotel_df.info()
# cleaned_hotels_df = hotel_df.loc['Hotel Name'].values()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 685 entries, 0 to 694
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 685 non-null    object
 1   Country              685 non-null    object
 2   Max Temp             685 non-null    float64
 3   Current Description  685 non-null    object
 4   Lat                  685 non-null    float64
 5   Lng                  685 non-null    float64
 6   Hotel Name           685 non-null    object
dtypes: float64(3), object(4)
memory usage: 62.8+ KB

In [11]:
# 7. Drop the rows where there is no Hotel Name.
string_to_NaN_df = hotel_df['Hotel Name'].replace('',np.nan, inplace=True)
string_to_NaN_df

In [12]:
cleaned_hotels_df = hotel_df.dropna(axis = 0)
cleaned_hotels_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Cabo San Lucas,MX,86.00,overcast clouds,22.89,-109.91,Hotel Tesoro Los Cabos
1,Kodiak,US,60.80,clear sky,57.79,-152.41,Best Western Kodiak Inn and Convention Center
2,Puerto Ayora,EC,66.99,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Belmonte,BR,75.20,scattered clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
4,Cururupu,BR,75.42,clear sky,-1.83,-44.87,Pousada Través'cia

In [13]:
cleaned_hotels_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 619 entries, 0 to 694
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 619 non-null    object
 1   Country              619 non-null    object
 2   Max Temp             619 non-null    float64
 3   Current Description  619 non-null    object
 4   Lat                  619 non-null    float64
 5   Lng                  619 non-null    float64
 6   Hotel Name           619 non-null    object
dtypes: float64(3), object(4)
memory usage: 38.7+ KB

In [14]:
# 8a. Create the output File (CSV)
import os.path
output_data_file = os.path.join("Weather_Database", "Hotels.csv")
# 8b. Export the City_Data into a csv
cleaned_hotels_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in cleaned_hotels_df.iterrows()]
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
# hotels_info = [info_box_template.format(**row) for index, row in cleaned_hotels_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = cleaned_hotels_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = cleaned_hotels_df[["Lat", "Lng"]]
max_temp = cleaned_hotels_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))